.header-btn {
  background-color: #f30745;
}
.header-el {
  border-bottom: 3px solid #f30745;
}
.btn-2 {
  scale: 0.7;
  background: #f30745;
  color: white;
  border: none;
  border-radius: 12px;
  font-weight: bold;
  cursor: pointer;
  z-index: 1;
  overflow: hidden;
}

.btn-2:hover {
  color: #f30745;
}

.btn-2:after {
  content: "";
  background: white;
  position: absolute;
  z-index: -1;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.5s;
}

.btn-2:hover:after {
  transform: skewX(-45deg) scale(1, 1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.header {
  background-color: #100e19;
}
/*  */

.dark-mode-btn {
  width: 60px;
  height: 30px;
  border-radius: 30px;
  position: relative;
  background-color: gray;
}
.dark-mode-btn::before {
  position: absolute;
  content: "";
  left: 0;
  z-index: 1;
  background-color: #f30745;
  width: 50%;
  border-radius: 50%;
  height: 30px;
  transition: all 0.4s ease;
}
.dark-mode-btn.active::before {
  transform: translate(100%);
  transition: all 0.4s ease;
}
